.module-page {
  overflow: hidden; /* Disable default scrolling */

  .section-overview,
  .section-technologies,
  .section-projects,
  .section-career,
  .section-footer {
    position: relative;
    padding: 0 20%;
    min-height: 100vh auto; /* Apply dynamic height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
    min-height: 120vh
  }

  .main-page {
    position: relative;
    min-height: 100vh; /* Ensure full height */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* MOBILE FIX - NO PADDING ON MOBILE */
@media only screen and (max-width: 600px) {
  .module-page {
    .section-overview,
    .section-technologies,
    .section-projects,
    .section-career,
    .section-footer {
      padding: 0 5% !important;
    }
  }
}

